### setup

In [181]:
import datetime
import matplotlib
import matplotlib.pyplot as plt
from matplotlib.backends.backend_pdf import PdfPages
import numpy as np
import pandas as pd
import pyreadr
import pickle
import re
import os

In [182]:
os.chdir('C:\\Users\\Simon\\Desktop\\MA\\session-rec')

In [183]:
# datatypes = ['app-level', 'sequence-level']
datatype = 'app-level'
windows = [1,2,3,4,5]
model_index = [0, 3, 8, 9, 10, 4, 1, 2, 5, 6, 7]

In [184]:
USER_KEY = 'userID'
TIME_KEY = 'timestamp'
if datatype == 'app-level':    
    ITEM_KEY = 'appID'
    SESSION_KEY = 'sessionID'
else:
    ITEM_KEY = 'usID'
    SESSION_KEY = 'sentenceID'

### helper functions

In [185]:
# for multiple windows (incl. min20)
# get average performance across all windows for a given algorithm
def get_av_perf(files, key):
    res = pd.DataFrame()
    for file in files:
        window = file.strip('.csv').split('_')[-1]
        df = pd.read_csv(folder_res + file, sep = ';')
        df.drop(['Metrics', 'Saver@50: '], axis=1, inplace=True)
        df.drop(df.filter(regex='Unnamed'), axis=1, inplace=True) # drop 'Unnamed: 24' column containing only NaNs
        df.rename(columns = lambda x : str(x)[:-2], inplace=True) # remove colon and whitespace from all column names
        df.insert(0, 'model', key)
        df.insert(1, 'window', window)
        res = res.append(df)
    res = res.groupby('model').mean().reset_index(level=0)
    return(res)

In [186]:
# for single window
# get performance for a given algorithm
def get_perf(file, key):
    df = pd.read_csv(folder_res + file, sep = ';')
    df.drop(['Metrics', 'Saver@50: '], axis=1, inplace=True)
    df.drop(df.filter(regex='Unnamed'), axis=1, inplace=True) # drop 'Unnamed: 24' column containing only NaNs
    df.rename(columns = lambda x : str(x)[:-2], inplace=True) # remove colon and whitespace from all column names
    df.insert(0, 'model', key)
    return(df)

In [187]:
# extract ground truth from test data (test_data) for a single item (position) in a single session (sessionId)
def extract_ground_truth(ID, position, test_data):
    relevant_df = test_data[test_data[SESSION_KEY]==ID]
    index = relevant_df.index[position+1]
    ground_truth = relevant_df[ITEM_KEY][index]
    return ground_truth

In [188]:
# generate a df containing the ground truth as well as predictions for all available algorithms
def generate_predictions(predictions_files, test_data, mapping_id2name, multiple=True):
    predictions = pd.DataFrame()
    for file in predictions_files:
        if multiple:
            model = "_".join(file.split('_')[2:-2])
        else:
            model = "_".join(file.split('_')[2:-1])
        df = pd.read_csv(folder_res + file, sep = ';')
        if 'sessionID' not in predictions.columns:
            predictions['sessionID'] = df['SessionId']
        if 'position' not in predictions.columns:
            predictions['position'] = df['Position']
        if 'ground_truth' not in predictions.columns:
            predictions['ground_truth'] = predictions.apply(lambda x: extract_ground_truth(x['sessionID'], x['position'], test_data), axis=1)
            predictions['ground_truth_name'] = predictions['ground_truth'].apply(lambda x: mapping_reverse[x])
        predictions['recs-' + model] = df['Recommendations'].apply(lambda x: [int(i) for i in x.split(',')])
        predictions['recs_names-' + model] = predictions['recs-' + model].apply(lambda x: [mapping_reverse[i] for i in x])
        predictions['scores-' + model] = df['Scores'].apply(lambda x: x.split(','))
    return predictions

In [189]:
# helper function outputting whether ground truth is in recommendation list of length k for a single algorithm and item
def calc_hr_k(ground_truth, rec_list, k):
    if type(ground_truth) == int or len(ground_truth) == 1:
        return ground_truth in rec_list[:k]
    elif len(ground_truth) > 1:
        return any(x in ground_truth for x in rec_list[:k])
    else:
        return None

In [190]:
# helper function for calculating the MRR
def calc_mrr_k(ground_truth, rec_list, k):
    if ground_truth not in rec_list[:k]:
        return 0
    else:
        score = rec_list.index(ground_truth) + 1
        return 1/score

In [191]:
def print_predictions(predictions, sessionID, num_recs, positions, models):
    # predictions must contain columns named 'sessionID' and 'position', containing the respective values
    predictions_dict = {}
    for pos in positions:
        row = predictions[(predictions.sessionID == sessionID) & (predictions.position == pos)]
        ground_truth = row.ground_truth_name.to_string(index=False)
#         print('sessionID: ' + str(sessionID) + ', position: ' + str(pos))
#         print('ground truth: ' + str(row.ground_truth_name.to_string(index=False)))
        df = pd.DataFrame()
        for model in models:
            df[model] = [row['recs_names-' + model].tolist()[0][i] for i in range(num_recs)]
        name = str(sessionID) + '_' + str(pos)
        predictions_dict[name] = (sessionID, pos, ground_truth, df)
    return predictions_dict

In [193]:
def capitalize_names(df):
    name_dict = {
        'ar': 'AR',
        'ct-pre': 'CT',
        'ctpre': 'CT',
        'gru4rec': 'GRU4Rec',
        'gru4rec_Reminder': 'GRU4Rec_R',
        'hgru4rec': 'HGRU4Rec',
        'shan': 'SHAN',
        'sknn': 'SKNN',
        'sr': 'SR',
        'sr_BR': 'SR_BR',
        'stan': 'STAN',
        'vsknn': 'VSKNN',
        'vsknn_EBR': 'VSKNN_EBR',
        'vstan': 'VSTAN',
        'vstan_EBR': 'VSTAN_EBR'
    }
    df['model'] = df['model'].apply(lambda x: name_dict[x])
    return df

### multiple windows

##### overall

In [194]:
folder_res = 'results/testing/' + str(datatype) + '/multiple/'
algos = set([f.split('_window')[0].split('test_single_')[1] for f in os.listdir(folder_res)])
algos -= {'vsknn', 'vsknn_EBR'}
results_app_multiple = pd.DataFrame()
for key in algos:
    files = [f for f in os.listdir(folder_res) 
             if ('Saver' not in f) 
             and (f.startswith('test_single_' + str(key) + '_window'))
             and ('min20' not in f)]
    res = get_av_perf(files, key)
    results_app_multiple = results_app_multiple.append(res)
results_app_multiple = capitalize_names(results_app_multiple)
results_app_multiple = results_app_multiple.round(4)
results_app_multiple = results_app_multiple.sort_values('model')
results_app_multiple['model_index'] = model_index
results_app_multiple = results_app_multiple.set_index('model_index').sort_index()
results_app_multiple.index.name = None

In [195]:
results_app_multiple

,model,HitRate@1,HitRate@5,HitRate@10,HitRate@20,MRR@5,MRR@10,MRR@20,Coverage@20,Popularity@20
0,AR,0.2024,0.5926,0.7250,0.8407,0.3374,0.3555,0.3637,0.3208,0.2328
1,SR,0.2591,0.6431,0.7836,0.8568,0.4056,0.4248,0.4300,0.3552,0.1892
2,SR_BR,0.2718,0.6902,0.8203,0.8559,0.4314,0.4496,0.4523,0.3578,0.1892
3,CT,0.3833,0.7006,0.8193,0.8840,0.5130,0.5290,0.5336,0.3267,0.2491
4,SKNN,0.0159,0.5290,0.6876,0.7697,0.1909,0.2119,0.2178,0.0489,0.2463
5,STAN,0.1543,0.3386,0.3451,0.3459,0.2307,0.2317,0.2317,0.1395,0.0883
6,VSTAN,0.1543,0.5635,0.6769,0.7202,0.3086,0.3244,0.3276,0.3654,0.1838
7,VSTAN_EBR,0.2436,0.6462,0.8290,0.9278,0.3822,0.4077,0.4150,0.5576,0.2130
8,GRU4Rec,0.3190,0.5829,0.6701,0.7503,0.4218,0.4338,0.4394,0.8002,0.0895
9,GRU4Rec_R,0.3105,0.6280,0.7241,0.7949,0.4285,0.4417,0.4467,0.8200,0.1438
10,HGRU4Rec,0.2978,0.4247,0.4706,0.5182,0.3486,0.3548,0.3580,0.6824,0.0249

In [196]:
with open('../tables/results_app_multiple.tex','w') as tf:
    tf.write(results_app_multiple.to_latex(index=False))

In [197]:
with open('../results/app-level/results_app_multiple.pickle', 'wb') as handle:
    pickle.dump(results_app_multiple, handle)

##### min20

Prediction on long sessions (20+) if trained on long sessions only (no extra tuning), implying a minimum sequence length of 20 for both training and test data:

In [198]:
folder_res = 'results/testing/' + str(datatype) + '/multiple/'
algos = set([f.split('_window')[0].split('test_single_')[1] for f in os.listdir(folder_res)])
algos -= {'vsknn', 'vsknn_EBR'}
results_app_multiple_min20 = pd.DataFrame()
for key in algos:
    files = [f for f in os.listdir(folder_res) 
             if ('Saver' not in f) and (f.startswith('test_single_' + str(key) + '_window'))
             and ('min20' in f) and ('min20_test' not in f)]
    res = get_av_perf(files, key)
    results_app_multiple_min20 = results_app_multiple_min20.append(res)
results_app_multiple_min20 = capitalize_names(results_app_multiple_min20)
results_app_multiple_min20 = results_app_multiple_min20.round(4)
results_app_multiple_min20 = results_app_multiple_min20.sort_values('model')
results_app_multiple_min20['model_index'] = model_index
results_app_multiple_min20 = results_app_multiple_min20.set_index('model_index').sort_index()
results_app_multiple_min20.index.name = None

In [199]:
results_app_multiple_min20

,model,HitRate@1,HitRate@5,HitRate@10,HitRate@20,MRR@5,MRR@10,MRR@20,Coverage@20,Popularity@20
0,AR,0.2265,0.5717,0.6721,0.7905,0.3648,0.3784,0.3868,0.6149,0.1840
1,SR,0.3140,0.6303,0.7390,0.8256,0.4337,0.4482,0.4544,0.6447,0.1618
2,SR_BR,0.3419,0.6804,0.7858,0.8280,0.4696,0.4841,0.4872,0.6688,0.1668
3,CT,0.4257,0.7222,0.7925,0.8523,0.5443,0.5539,0.5580,0.6521,0.2048
4,SKNN,0.0130,0.3480,0.5366,0.6849,0.1117,0.1379,0.1483,0.0609,0.2070
5,STAN,0.2570,0.6350,0.6595,0.6610,0.4085,0.4121,0.4122,0.3316,0.0707
6,VSTAN,0.0977,0.3368,0.3992,0.4438,0.1836,0.1922,0.1954,0.4884,0.0373
7,VSTAN_EBR,0.2232,0.5737,0.7242,0.8788,0.3466,0.3665,0.3775,0.7121,0.1295
8,GRU4Rec,0.3693,0.6093,0.6840,0.7616,0.4651,0.4752,0.4806,0.8887,0.0610
9,GRU4Rec_R,0.3516,0.6612,0.7673,0.8451,0.4673,0.4817,0.4873,0.9722,0.1050
10,HGRU4Rec,0.3067,0.4602,0.5073,0.5595,0.3666,0.3729,0.3765,0.7059,0.0224

In [200]:
with open('../tables/results_app_multiple_min20.tex','w') as tf:
    tf.write(results_app_multiple_min20.to_latex(index=False))

In [201]:
with open('../results/app-level/results_app_multiple_min20.pickle', 'wb') as handle:
    pickle.dump(results_app_multiple_min20, handle)

Prediction on long sessions (20+) if trained on all sessions, implying a minimum sequence length of 20 for test data only:

In [202]:
algos = set([f.split('_window')[0].split('test_single_')[1] for f in os.listdir(folder_res)])
algos -= {'vsknn', 'vsknn_EBR'}
results_app_multiple_min20_test = pd.DataFrame()
for key in algos:
    files = [f for f in os.listdir(folder_res) 
             if ('Saver' not in f) and (f.startswith('test_single_' + str(key) + '_window')) and ('min20_test' in f)]
    res = get_av_perf(files, key)
    results_app_multiple_min20_test = results_app_multiple_min20_test.append(res)
results_app_multiple_min20_test = capitalize_names(results_app_multiple_min20_test)
results_app_multiple_min20_test = results_app_multiple_min20_test.round(4)
results_app_multiple_min20_test = results_app_multiple_min20_test.sort_values('model')
results_app_multiple_min20_test['model_index'] = model_index
results_app_multiple_min20_test = results_app_multiple_min20_test.set_index('model_index').sort_index()
results_app_multiple_min20_test.index.name = None

In [203]:
results_app_multiple_min20_test

,model,HitRate@1,HitRate@5,HitRate@10,HitRate@20,MRR@5,MRR@10,MRR@20,Coverage@20,Popularity@20
0,AR,0.1890,0.4647,0.5921,0.7895,0.2964,0.3135,0.3274,0.1315,0.2349
1,SR,0.1810,0.4747,0.6646,0.7987,0.2932,0.3176,0.3272,0.1665,0.1832
2,SR_BR,0.1903,0.5183,0.7357,0.7974,0.3158,0.3453,0.3498,0.1633,0.1833
3,CT,0.3123,0.5908,0.7314,0.8492,0.4221,0.4405,0.4492,0.1608,0.2460
4,SKNN,0.0042,0.2962,0.5733,0.6433,0.0791,0.1140,0.1190,0.0384,0.2462
5,STAN,0.2440,0.6113,0.6330,0.6330,0.3908,0.3940,0.3940,0.0738,0.0959
6,VSTAN,0.2307,0.6056,0.7499,0.8178,0.3803,0.3999,0.4048,0.2012,0.2010
7,VSTAN_EBR,0.1345,0.4392,0.7024,0.9016,0.2385,0.2740,0.2886,0.1467,0.2141
8,GRU4Rec,0.2846,0.5013,0.5874,0.6798,0.3683,0.3797,0.3860,0.4380,0.0477
9,GRU4Rec_R,0.2091,0.4544,0.5679,0.6695,0.2963,0.3116,0.3186,0.4580,0.1213
10,HGRU4Rec,0.2716,0.4096,0.4696,0.5225,0.3251,0.3330,0.3366,0.4225,0.0165

In [204]:
with open('../tables/results_app_multiple_min20_test.tex','w') as tf:
    tf.write(results_app_multiple_min20_test.to_latex(index=False))

In [205]:
with open('../results/app-level/results_app_multiple_min20_test.pickle', 'wb') as handle:
    pickle.dump(results_app_multiple_min20_test, handle)

In [206]:
results_app_multiple_min20_diff = results_app_multiple_min20_test.copy(deep=True)
for col in results_app_multiple_min20_diff.columns:
    if col != 'model':
        results_app_multiple_min20_diff[col] = results_app_multiple_min20_diff[col] - results_app_multiple_min20[col]

In [207]:
results_app_multiple_min20_diff

,model,HitRate@1,HitRate@5,HitRate@10,HitRate@20,MRR@5,MRR@10,MRR@20,Coverage@20,Popularity@20
0,AR,-0.0375,-0.1070,-0.0800,-0.0010,-0.0684,-0.0649,-0.0594,-0.4834,0.0509
1,SR,-0.1330,-0.1556,-0.0744,-0.0269,-0.1405,-0.1306,-0.1272,-0.4782,0.0214
2,SR_BR,-0.1516,-0.1621,-0.0501,-0.0306,-0.1538,-0.1388,-0.1374,-0.5055,0.0165
3,CT,-0.1134,-0.1314,-0.0611,-0.0031,-0.1222,-0.1134,-0.1088,-0.4913,0.0412
4,SKNN,-0.0088,-0.0518,0.0367,-0.0416,-0.0326,-0.0239,-0.0293,-0.0225,0.0392
5,STAN,-0.0130,-0.0237,-0.0265,-0.0280,-0.0177,-0.0181,-0.0182,-0.2578,0.0252
6,VSTAN,0.1330,0.2688,0.3507,0.3740,0.1967,0.2077,0.2094,-0.2872,0.1637
7,VSTAN_EBR,-0.0887,-0.1345,-0.0218,0.0228,-0.1081,-0.0925,-0.0889,-0.5654,0.0846
8,GRU4Rec,-0.0847,-0.1080,-0.0966,-0.0818,-0.0968,-0.0955,-0.0946,-0.4507,-0.0133
9,GRU4Rec_R,-0.1425,-0.2068,-0.1994,-0.1756,-0.1710,-0.1701,-0.1687,-0.5142,0.0163
10,HGRU4Rec,-0.0351,-0.0506,-0.0377,-0.0370,-0.0415,-0.0399,-0.0399,-0.2834,-0.0059

In [208]:
with open('../tables/results_app_multiple_min20_diff.tex','w') as tf:
    tf.write(results_app_multiple_min20_diff.to_latex(index=False))

In [209]:
with open('../results/app-level/results_app_multiple_min20_diff.pickle', 'wb') as handle:
    pickle.dump(results_app_multiple_min20_diff, handle)

### single window

##### overall

In [210]:
folder_res = 'results/testing/' + str(datatype) + '/single/'
algos = set([f.split('test_single_')[1].split('_single')[0] for f in os.listdir(folder_res) if f.startswith('test_single')])
algos -= {'vsknn', 'vsknn_EBR'}
results_app_single = pd.DataFrame()
for key in algos:
    file = [f for f in os.listdir(folder_res) 
             if ('Saver' not in f) 
             and (f.startswith('test_single_' + str(key) + '_single'))
             and ('min20' not in f)
             and ('embedding' not in f)][0] # list is of length 1 actually
    res = get_perf(file, key)
    results_app_single = results_app_single.append(res)
results_app_single = capitalize_names(results_app_single)
results_app_single = results_app_single.round(4)
results_app_single = results_app_single.sort_values('model')
results_app_single['model_index'] = model_index
results_app_single = results_app_single.set_index('model_index').sort_index()
results_app_single.index.name = None

In [211]:
results_app_single

,model,HitRate@1,HitRate@5,HitRate@10,HitRate@20,MRR@5,MRR@10,MRR@20,Coverage@20,Popularity@20
0,AR,0.1928,0.5752,0.7256,0.8432,0.3227,0.3431,0.3514,0.1794,0.2318
1,SR,0.2400,0.6264,0.7944,0.8616,0.3953,0.4185,0.4234,0.2053,0.1879
2,SR_BR,0.2616,0.6848,0.8312,0.8600,0.4249,0.4457,0.4479,0.2076,0.1895
3,CT,0.3608,0.6968,0.8104,0.8848,0.5045,0.5201,0.5255,0.1990,0.2470
4,SKNN,0.0032,0.5320,0.6736,0.7608,0.1909,0.2112,0.2171,0.0201,0.2395
5,STAN,0.1400,0.2896,0.2920,0.2920,0.2025,0.2029,0.2029,0.0656,0.0876
6,VSTAN,0.1464,0.5560,0.6408,0.6800,0.3012,0.3130,0.3157,0.1420,0.1826
7,VSTAN_EBR,0.2440,0.6176,0.8056,0.8936,0.3777,0.4051,0.4115,0.3726,0.2123
8,GRU4Rec,0.2784,0.5208,0.6432,0.7320,0.3750,0.3923,0.3985,0.6504,0.0897
9,GRU4Rec_R,0.2464,0.5280,0.6184,0.6944,0.3539,0.3663,0.3718,0.6446,0.1007
10,HGRU4Rec,0.2992,0.4344,0.4728,0.5056,0.3520,0.3574,0.3596,0.5446,0.0220

In [212]:
with open('../tables/results_app_single.tex','w') as tf:
    tf.write(results_app_single.to_latex(index=False))

In [213]:
with open('../results/app-level/results_app_single.pickle', 'wb') as handle:
    pickle.dump(results_app_single, handle)

In [214]:
results_app_single_diff = results_app_single.copy(deep=True)
for col in results_app_single_diff.columns:
    if col != 'model':
        results_app_single_diff[col] = results_app_single_diff[col] - results_app_multiple[col]

In [215]:
results_app_single_diff

,model,HitRate@1,HitRate@5,HitRate@10,HitRate@20,MRR@5,MRR@10,MRR@20,Coverage@20,Popularity@20
0,AR,-0.0096,-0.0174,0.0006,0.0025,-0.0147,-0.0124,-0.0123,-0.1414,-0.0010
1,SR,-0.0191,-0.0167,0.0108,0.0048,-0.0103,-0.0063,-0.0066,-0.1499,-0.0013
2,SR_BR,-0.0102,-0.0054,0.0109,0.0041,-0.0065,-0.0039,-0.0044,-0.1502,0.0003
3,CT,-0.0225,-0.0038,-0.0089,0.0008,-0.0085,-0.0089,-0.0081,-0.1277,-0.0021
4,SKNN,-0.0127,0.0030,-0.0140,-0.0089,0.0000,-0.0007,-0.0007,-0.0288,-0.0068
5,STAN,-0.0143,-0.0490,-0.0531,-0.0539,-0.0282,-0.0288,-0.0288,-0.0739,-0.0007
6,VSTAN,-0.0079,-0.0075,-0.0361,-0.0402,-0.0074,-0.0114,-0.0119,-0.2234,-0.0012
7,VSTAN_EBR,0.0004,-0.0286,-0.0234,-0.0342,-0.0045,-0.0026,-0.0035,-0.1850,-0.0007
8,GRU4Rec,-0.0406,-0.0621,-0.0269,-0.0183,-0.0468,-0.0415,-0.0409,-0.1498,0.0002
9,GRU4Rec_R,-0.0641,-0.1000,-0.1057,-0.1005,-0.0746,-0.0754,-0.0749,-0.1754,-0.0431
10,HGRU4Rec,0.0014,0.0097,0.0022,-0.0126,0.0034,0.0026,0.0016,-0.1378,-0.0029

In [216]:
with open('../tables/results_app_single_diff.tex','w') as tf:
    tf.write(results_app_single_diff.to_latex(index=False))

In [217]:
with open('../results/app-level/results_app_single_diff.pickle', 'wb') as handle:
    pickle.dump(results_app_single_diff, handle)

### performance by position

##### create mapping dicts

In [218]:
folder_res = 'results/testing/' + str(datatype) + '/multiple/'
folder_data = folder_res.replace('results', 'data')
data = pd.read_csv('../data/app-level/data_app_nodrop.csv') # create app and user mappings
mapping = dict([(y,x+1) for x,y in enumerate(sorted(set(data['app_name'])))])
mapping_reverse = dict((v,k) for k,v in mapping.items())

##### individual positions

In [224]:
k = 1 # HR@k

In [225]:
results_app_multiple_pos = pd.DataFrame()

for window in windows:
    test_data = pd.read_hdf(str(folder_data) + 'window_' + str(window) + '.hdf', 'test') 
    predictions_files = [f for f in os.listdir(folder_res) if ('min20' not in f) 
                         and f.endswith('window_' + str(window) + '-Saver@50.csv')]
    predictions = generate_predictions(predictions_files, test_data, mapping_reverse)
    algorithms = [i for i in predictions.columns if i.startswith('recs-')]
    algorithms.remove('recs-vsknn')
    algorithms.remove('recs-vsknn_EBR')

    perf_by_pos = pd.DataFrame()
    positions = range(1,11)
    for pos in positions:
        pred_pos = predictions[predictions['position']==pos-1]
        df = pd.DataFrame()
        df['position'] = ['position = ' + str(pos)]
        df['window'] = [window]
        for algo in algorithms:
            algo_name = ''.join(algo.split('-')[1:])
            value = pred_pos.apply(lambda x: calc_hr_k(x['ground_truth'], x[algo], k), axis=1).sum()/len(pred_pos)
            df[algo_name] = [value]
        perf_by_pos = perf_by_pos.append(df).reset_index(drop=True)
    results_app_multiple_pos = results_app_multiple_pos.append(perf_by_pos)

results_app_multiple_pos = results_app_multiple_pos.groupby('position').mean() # average across positions
results_app_multiple_pos.drop(['window'], axis=1, inplace=True)
results_app_multiple_pos = results_app_multiple_pos.transpose() # transpose to have algorithms as rows, positions as columns
columns_reordered = results_app_multiple_pos.columns.tolist()
columns_reordered.sort(key=lambda x: int(re.search(r'\d+$',x).group()))
results_app_multiple_pos = results_app_multiple_pos[columns_reordered]
results_app_multiple_pos.reset_index(inplace=True) # convert index to column named "index"
results_app_multiple_pos.rename(columns={'index': 'model'}, inplace=True) # rename column "index" to "model"
results_app_multiple_pos.rename_axis(None, axis=1, inplace=True) # unname new index
results_app_multiple_pos = capitalize_names(results_app_multiple_pos) # adjust model names
results_app_multiple_pos = results_app_multiple_pos.round(4)
results_app_multiple_pos = results_app_multiple_pos.sort_values('model')
results_app_multiple_pos['model_index'] = model_index
results_app_multiple_pos = results_app_multiple_pos.set_index('model_index').sort_index()
results_app_multiple_pos.index.name = None

In [226]:
results_app_multiple_pos

,model,position = 1,position = 2,position = 3,position = 4,position = 5,position = 6,position = 7,position = 8,position = 9,position = 10
0,AR,0.3110,0.0974,0.2257,0.1605,0.1361,0.1957,0.2116,0.1745,0.1817,0.1858
1,SR,0.3110,0.1075,0.2657,0.2404,0.3389,0.3658,0.3363,0.2793,0.3273,0.2923
2,SR_BR,0.3218,0.1445,0.2678,0.2389,0.3566,0.3647,0.3384,0.3108,0.3814,0.3496
3,CT,0.3110,0.5042,0.3550,0.3323,0.3936,0.4759,0.4512,0.3949,0.4425,0.4355
4,SKNN,0.0072,0.0256,0.0143,0.0264,0.0440,0.0226,0.0160,0.0195,0.0294,0.0069
5,STAN,0.0072,0.0254,0.1456,0.2254,0.1734,0.2959,0.2531,0.2784,0.2879,0.2704
6,VSTAN,0.0294,0.0295,0.1488,0.2244,0.1876,0.2360,0.2039,0.2530,0.2452,0.3085
7,VSTAN_EBR,0.3571,0.2593,0.1820,0.2877,0.2211,0.2665,0.1969,0.2469,0.2728,0.1863
8,GRU4Rec,0.3240,0.4096,0.2696,0.2871,0.2858,0.2952,0.2941,0.2942,0.3320,0.3197
9,GRU4Rec_R,0.3368,0.4075,0.2474,0.3108,0.3257,0.3479,0.2673,0.2954,0.3740,0.3355
10,HGRU4Rec,0.2825,0.4890,0.2286,0.2922,0.2133,0.2956,0.2628,0.2973,0.2793,0.2773

In [227]:
with open('../tables/results_app_multiple_pos_HR@' + str(k) + '.tex','w') as tf:
    tf.write(results_app_multiple_pos.to_latex(index=False))

In [228]:
with open('../results/app-level/results_app_multiple_pos_HR@' + str(k) + '.pickle', 'wb') as handle:
    pickle.dump(results_app_multiple_pos, handle)

##### cutoffs

In [234]:
cutoffs = [2, 5, 10]
k = 1 # HR@k

In [235]:
results_app_multiple_cutoff = pd.DataFrame()

for cutoff in cutoffs:
    for window in windows:
        test_data = pd.read_hdf(str(folder_data) + 'window_' + str(window) + '.hdf', 'test') 
        predictions_files = [f for f in os.listdir(folder_res) if ('min20' not in f) 
                             and f.endswith('window_' + str(window) + '-Saver@50.csv')]
        predictions = generate_predictions(predictions_files, test_data, mapping_reverse)
        algorithms = [i for i in predictions.columns if i.startswith('recs-')]
        algorithms.remove('recs-vsknn')
        algorithms.remove('recs-vsknn_EBR')

        # for  single cutoff and single window, create 'performance-by-position' df containing two rows and |algorithms| columns
        perf_by_pos = pd.DataFrame()
        positions = ['position <= ' + str(cutoff), 'position > ' + str(cutoff)]
        for pos in positions:
            if pos==('position <= ' + str(cutoff)):
                pred_pos = predictions[predictions['position']<=cutoff-1] # -1 b/c the first position has index 0
            else:
                pred_pos = predictions[predictions['position']>cutoff-1]
            df = pd.DataFrame()
            df['position'] = [pos]
            df['window'] = [window]
            for algo in algorithms:
                algo_name = ''.join(algo.split('-')[1:])
                value = pred_pos.apply(lambda x: calc_hr_k(x['ground_truth'], x[algo], k), axis=1).sum()/len(pred_pos)
                df[algo_name] = [value]
            perf_by_pos = perf_by_pos.append(df).reset_index(drop=True)
        results_app_multiple_cutoff = results_app_multiple_cutoff.append(perf_by_pos)

results_app_multiple_cutoff = results_app_multiple_cutoff.groupby('position').mean() # average across positions (e.g., "<= 2", "> 10")
results_app_multiple_cutoff.drop(['window'], axis=1, inplace=True)
results_app_multiple_cutoff = results_app_multiple_cutoff.transpose() # transpose to have algorithms as rows, positions as columns
columns_reordered = results_app_multiple_cutoff.columns.tolist()
columns_reordered.sort(key=lambda x: int(re.search(r'\d+$',x).group()))
results_app_multiple_cutoff = results_app_multiple_cutoff[columns_reordered]
results_app_multiple_cutoff.reset_index(inplace=True) # convert index to column named "index"
results_app_multiple_cutoff.rename(columns={'index': 'model'}, inplace=True) # rename column "index" to "model"
results_app_multiple_cutoff.rename_axis(None, axis=1, inplace=True) # unname new index
results_app_multiple_cutoff = capitalize_names(results_app_multiple_cutoff) # adjust model names
results_app_multiple_cutoff = results_app_multiple_cutoff.round(4)
results_app_multiple_cutoff = results_app_multiple_cutoff.sort_values('model')
results_app_multiple_cutoff['model_index'] = model_index
results_app_multiple_cutoff = results_app_multiple_cutoff.set_index('model_index').sort_index()
results_app_multiple_cutoff.index.name = None

In [236]:
results_app_multiple_cutoff

,model,position <= 2,position > 2,position <= 5,position > 5,position <= 10,position > 10
0,AR,0.2269,0.1892,0.2082,0.1934,0.2045,0.1898
1,SR,0.2307,0.2768,0.2514,0.2798,0.2676,0.2516
2,SR_BR,0.2520,0.2854,0.2660,0.2904,0.2838,0.2468
3,CT,0.3878,0.3818,0.3766,0.4012,0.3911,0.3710
4,SKNN,0.0142,0.0167,0.0193,0.0111,0.0193,0.0061
5,STAN,0.0145,0.2298,0.0843,0.2602,0.1268,0.2385
6,VSTAN,0.0295,0.2230,0.0950,0.2469,0.1270,0.2577
7,VSTAN_EBR,0.3180,0.2058,0.2807,0.1903,0.2709,0.1405
8,GRU4Rec,0.3581,0.2984,0.3264,0.3098,0.3208,0.3173
9,GRU4Rec_R,0.3659,0.2827,0.3342,0.2816,0.3304,0.2311
10,HGRU4Rec,0.3639,0.2593,0.3132,0.2665,0.3073,0.2542

In [237]:
with open('../tables/results_app_multiple_cutoff_HR@' + str(k) + '.tex','w') as tf:
    tf.write(results_app_multiple_cutoff.to_latex(index=False))

In [238]:
with open('../results/app-level/results_app_multiple_cutoff_HR@' + str(k) + '.pickle', 'wb') as handle:
    pickle.dump(results_app_multiple_cutoff, handle)

##### percentage of OFF predictions by position

In [239]:
k = 1 # HR@k
OFF = [mapping['OFF_LOCKED'], mapping['OFF_UNLOCKED']]

In [240]:
results_app_multiple_off = pd.DataFrame()

for window in windows:
    test_data = pd.read_hdf(str(folder_data) + 'window_' + str(window) + '.hdf', 'test') 
    predictions_files = [f for f in os.listdir(folder_res) if ('min20' not in f) 
                         and f.endswith('window_' + str(window) + '-Saver@50.csv')]
    predictions = generate_predictions(predictions_files, test_data, mapping_reverse)
    algorithms = [i for i in predictions.columns if i.startswith('recs-')]
    algorithms.remove('recs-vsknn')
    algorithms.remove('recs-vsknn_EBR')

    perf_by_pos = pd.DataFrame()
    positions = range(1,11)
    for pos in positions:
        pred_pos = predictions[predictions['position']==pos-1]
        df = pd.DataFrame()
        df['position'] = ['position = ' + str(pos)]
        df['window'] = [window]
        for algo in algorithms:
            algo_name = ''.join(algo.split('-')[1:])
            value = pred_pos.apply(lambda x: calc_hr_k(OFF, x[algo], k), axis=1).sum()/len(pred_pos)
            df[algo_name] = [value]
        perf_by_pos = perf_by_pos.append(df).reset_index(drop=True)
    results_app_multiple_off = results_app_multiple_off.append(perf_by_pos)

results_app_multiple_off = results_app_multiple_off.groupby('position').mean() # average across positions
results_app_multiple_off.drop(['window'], axis=1, inplace=True)
results_app_multiple_off = results_app_multiple_off.transpose() # transpose to have algorithms as rows, positions as columns
columns_reordered = results_app_multiple_off.columns.tolist()
columns_reordered.sort(key=lambda x: int(re.search(r'\d+$',x).group()))
results_app_multiple_off = results_app_multiple_off[columns_reordered]
results_app_multiple_off.reset_index(inplace=True) # convert index to column named "index"
results_app_multiple_off.rename(columns={'index': 'model'}, inplace=True) # rename column "index" to "model"
results_app_multiple_off.rename_axis(None, axis=1, inplace=True) # unname new index
results_app_multiple_off = capitalize_names(results_app_multiple_off) # adjust model names
results_app_multiple_off = results_app_multiple_off.round(4)
results_app_multiple_off = results_app_multiple_off.sort_values('model')
results_app_multiple_off['model_index'] = model_index
results_app_multiple_off = results_app_multiple_off.set_index('model_index').sort_index()
results_app_multiple_off.index.name = None

In [241]:
results_app_multiple_off

,model,position = 1,position = 2,position = 3,position = 4,position = 5,position = 6,position = 7,position = 8,position = 9,position = 10
0,AR,0.8493,0.0016,0.0000,0.0017,0.0045,0.0082,0.0000,0.0000,0.0000,0.0000
1,SR,0.8493,0.3231,0.2359,0.3297,0.4489,0.3644,0.4825,0.3673,0.3897,0.4217
2,SR_BR,0.8558,0.3570,0.2599,0.3595,0.4693,0.4204,0.4966,0.3751,0.3978,0.4460
3,CT,0.8838,0.3170,0.2386,0.3189,0.4134,0.3261,0.4196,0.3391,0.3424,0.3539
4,SKNN,0.0000,0.0663,0.1248,0.1358,0.1333,0.1258,0.1360,0.1317,0.1235,0.1034
5,STAN,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
6,VSTAN,0.1507,0.0361,0.0067,0.0054,0.0069,0.0000,0.0000,0.0000,0.0000,0.0000
7,VSTAN_EBR,0.6067,0.4888,0.4201,0.3579,0.3092,0.2598,0.2694,0.2491,0.2170,0.2083
8,GRU4Rec,1.0000,0.0898,0.0548,0.0295,0.0698,0.0278,0.0000,0.0186,0.0105,0.0118
9,GRU4Rec_R,0.9377,0.0850,0.1550,0.2178,0.3411,0.2335,0.1923,0.1735,0.1405,0.1540
10,HGRU4Rec,0.0439,0.0479,0.0226,0.0085,0.0021,0.0032,0.0107,0.0000,0.0000,0.0000

In [242]:
with open('../tables/results_app_multiple_pos_off' + str(k) + '.tex','w') as tf:
    tf.write(results_app_multiple_off.to_latex(index=False))

In [243]:
with open('../results/app-level/results_app_multiple_pos_off.pickle', 'wb') as handle:
    pickle.dump(results_app_multiple_off, handle)

### performance by category

##### create mapping dicts

In [244]:
folder_res = 'results/testing/' + str(datatype) + '/multiple/'
folder_data = folder_res.replace('results', 'data')
data = pd.read_csv('../data/app-level/data_app_nodrop.csv') # create app and user mappings
mapping = dict([(y,x+1) for x,y in enumerate(sorted(set(data['app_name'])))])
mapping_reverse = dict((v,k) for k,v in mapping.items())

# category_mapping = {}
# for app in data.app_name.value_counts().index:
#     if app not in category_mapping:
#         cat = data.category[data.app_name==app].iloc[0]
#         category_mapping[app] = cat
        
# with open('../data/app-level/category_mapping.pickle', 'wb') as handle:
#     pickle.dump(category_mapping, handle)

with open('../data/app-level/category_mapping.pickle', 'rb') as handle:
    category_mapping = pickle.load(handle)

##### category-level prediction

Now, we also have to convert the recommendations to category-level. Furthermore, we now have to match based on names as we cannot use token IDs anymore.

In [245]:
windows = [1,2,3,4,5]
ks = [1,5,10,20]

In [246]:
results_app_multiple_cat_combined = pd.DataFrame()
for metric in ['HitRate', 'MRR']:
    results_app_multiple_cat = pd.DataFrame()
    for k in ks:

        perf_by_cat = pd.DataFrame()
        for window in windows:
            test_data = pd.read_hdf(str(folder_data) + 'window_' + str(window) + '.hdf', 'test') 
            predictions_files = [f for f in os.listdir(folder_res) if ('min20' not in f) 
                                 and f.endswith('window_' + str(window) + '-Saver@50.csv')]
            predictions = generate_predictions(predictions_files, test_data, mapping_reverse)
            predictions['ground_truth_category_name'] = predictions['ground_truth_name'].apply(lambda x: category_mapping[x])
            algorithms_names = [i for i in predictions.columns if i.startswith('recs_names-')]
            algorithms_names.remove('recs_names-vsknn')
            algorithms_names.remove('recs_names-vsknn_EBR')

            df = pd.DataFrame()
            for algo in algorithms_names:
                col_name = 'recs_names_cat-' + algo.split('recs_names-')[1]
                algo_name = ''.join(algo.split('-')[1:])
                predictions[col_name] = predictions[algo].apply(lambda x: [category_mapping[i] for i in x])
                if metric == 'HR':
                    value = predictions.apply(lambda x: 
                                          calc_hr_k(x['ground_truth_category_name'], x[col_name], k), axis=1).sum()/len(predictions)
                else:
                     value = predictions.apply(lambda x: 
                                          calc_mrr_k(x['ground_truth_category_name'], x[col_name], k), axis=1).sum()/len(predictions)                   
                df[algo_name] = [value]
            perf_by_cat = perf_by_cat.append(df)
        perf_by_cat = pd.DataFrame(perf_by_cat.mean()) # average across windows
        perf_by_cat.rename(columns={0: str(metric) + '@' + str(k)}, inplace=True)

        if results_app_multiple_cat.shape == (0,0):
            results_app_multiple_cat = results_app_multiple_cat.append(perf_by_cat)
        else:
            results_app_multiple_cat = results_app_multiple_cat.merge(perf_by_cat, left_index=True, right_index=True)


    results_app_multiple_cat.reset_index(inplace=True) # convert index to column named "index"
    results_app_multiple_cat.rename(columns={'index': 'model'}, inplace=True) # rename column "index" to "model"
    results_app_multiple_cat.rename_axis(None, axis=1, inplace=True) # unname new index
    results_app_multiple_cat = capitalize_names(results_app_multiple_cat) # adjust model names
    results_app_multiple_cat = results_app_multiple_cat.round(4)
    results_app_multiple_cat = results_app_multiple_cat.sort_values('model')
    results_app_multiple_cat['model_index'] = model_index
    results_app_multiple_cat = results_app_multiple_cat.set_index('model_index').sort_index()
    results_app_multiple_cat.index.name = None

    if results_app_multiple_cat_combined.shape == (0,0):
        results_app_multiple_cat_combined = results_app_multiple_cat_combined.append(results_app_multiple_cat)
    else:
        results_app_multiple_cat_combined = results_app_multiple_cat_combined.merge(results_app_multiple_cat, left_on='model', right_on='model')

if 1 in ks:
    results_app_multiple_cat_combined.drop(['MRR@1'], axis=1, inplace=True)

In [247]:
results_app_multiple_cat_combined

,model,HitRate@1,HitRate@5,HitRate@10,HitRate@20,MRR@5,MRR@10,MRR@20
0,AR,0.2224,0.3890,0.4052,0.4113,0.3890,0.4052,0.4113
1,SR,0.2818,0.4623,0.4748,0.4791,0.4623,0.4748,0.4791
2,SR_BR,0.2831,0.4577,0.4728,0.4759,0.4577,0.4728,0.4759
3,CT,0.3981,0.5464,0.5588,0.5630,0.5464,0.5588,0.5630
4,SKNN,0.0159,0.2120,0.2327,0.2372,0.2120,0.2327,0.2372
5,STAN,0.1564,0.2440,0.2498,0.2530,0.2440,0.2498,0.2530
6,VSTAN,0.1672,0.3303,0.3498,0.3538,0.3303,0.3498,0.3538
7,VSTAN_EBR,0.2443,0.3868,0.4148,0.4209,0.3868,0.4148,0.4209
8,GRU4Rec,0.3425,0.4663,0.4795,0.4851,0.4663,0.4795,0.4851
9,GRU4Rec_R,0.3370,0.4606,0.4756,0.4810,0.4606,0.4756,0.4810
10,HGRU4Rec,0.3285,0.3923,0.4020,0.4075,0.3923,0.4020,0.4075

In [248]:
with open('../tables/results_app_multiple_cat' + '.tex','w') as tf:
    tf.write(results_app_multiple_cat_combined.to_latex(index=False))

In [249]:
with open('../results/app-level/results_app_multiple_cat.pickle', 'wb') as handle:
    pickle.dump(results_app_multiple_cat_combined, handle)

### removing on and off

##### multiple windows

In [250]:
folder_res = 'results/testing_onoff_unspecific_tuning/' + str(datatype) + '/multiple/'
algos = set([f.split('_window')[0].split('test_single_')[1] for f in os.listdir(folder_res)])
algos -= {'vsknn', 'vsknn_EBR'}
results_app_multiple_droponoff = pd.DataFrame()
for key in algos:
    files = [f for f in os.listdir(folder_res) 
             if ('Saver' not in f) 
             and (f.startswith('test_single_' + str(key) + '_window'))
             and ('min20' not in f)]
    res = get_av_perf(files, key)
    results_app_multiple_droponoff = results_app_multiple_droponoff.append(res)
results_app_multiple_droponoff = capitalize_names(results_app_multiple_droponoff)
results_app_multiple_droponoff = results_app_multiple_droponoff.round(4)
results_app_multiple_droponoff = results_app_multiple_droponoff.sort_values('model')
results_app_multiple_droponoff['model_index'] = model_index
results_app_multiple_droponoff = results_app_multiple_droponoff.set_index('model_index').sort_index()
results_app_multiple_droponoff.index.name = None

In [251]:
results_app_multiple_droponoff

,model,HitRate@1,HitRate@5,HitRate@10,HitRate@20,MRR@5,MRR@10,MRR@20,Coverage@20,Popularity@20
0,AR,0.2367,0.6064,0.7282,0.8315,0.3834,0.3997,0.4071,0.4224,0.1373
1,SR,0.3274,0.6538,0.7680,0.8583,0.4485,0.4642,0.4705,0.4482,0.1301
2,SR_BR,0.3555,0.7156,0.8203,0.8613,0.4904,0.5050,0.5081,0.4581,0.1309
3,CT,0.4244,0.7419,0.8223,0.8844,0.5502,0.5614,0.5656,0.3711,0.1557
4,SKNN,0.2443,0.6201,0.7291,0.8057,0.3896,0.4042,0.4095,0.3070,0.1423
5,STAN,0.3049,0.5670,0.5721,0.5739,0.4147,0.4154,0.4156,0.1900,0.0523
6,VSTAN,0.2156,0.5093,0.5836,0.6338,0.3310,0.3411,0.3446,0.5333,0.0515
7,VSTAN_EBR,0.3203,0.7013,0.8451,0.9316,0.4628,0.4820,0.4881,0.6380,0.1020
8,GRU4Rec,0.3500,0.5875,0.6722,0.7460,0.4410,0.4524,0.4575,0.8776,0.0514
9,GRU4Rec_R,0.3673,0.6811,0.7630,0.8283,0.4889,0.5001,0.5047,0.9279,0.0766
10,HGRU4Rec,0.3118,0.4656,0.5220,0.5863,0.3712,0.3788,0.3831,0.6391,0.0218

In [252]:
with open('../tables/results_app_multiple_droponoff.tex','w') as tf:
    tf.write(results_app_multiple_droponoff.to_latex(index=False))

In [253]:
with open('../results/app-level/results_app_multiple_droponoff.pickle', 'wb') as handle:
    pickle.dump(results_app_multiple_droponoff, handle)