In [1]:
import datetime
import matplotlib
import numpy as np
import pandas as pd
import pyreadr

In [18]:
import os
import shutil

numbers = [i for i in range(1,100)]
del numbers[24]
del numbers[48]
del numbers[72]
files = ['./tuning/app-level/multiple/gru4rec-config_' + str(i) + '-window_2' for i in numbers]
for f in files:
    shutil.copy(f, './in')

In [2]:
data_raw_1 = pyreadr.read_r('../../data/sequences_all_anon.Rds')[None]
data_raw_2 = pyreadr.read_r('../../data/sequences_all_anon_1.Rds')[None]
data_raw_3 = pyreadr.read_r('../../data/sequences_all_anon_wild.Rds')[None]

In [3]:
print(len(data_raw_1))
print(len(data_raw_2))
print(len(data_raw_3))

4314830
72173
186179

In [4]:
print(len(data_raw_1)/(len(data_raw_1)+len(data_raw_2)+len(data_raw_3)))

0.94350716853167

In [7]:
print(data_raw_1.userId.nunique())
print(data_raw_2.userId.nunique())
print(data_raw_3.userId.nunique())

310
136
255

In [31]:
data_raw_3

,userId,timestamp,datum,activity,value,sequence_number,anon_apps.name
0,122299,43,2017-02-01 13:03:40,SCREEN,ON_LOCKED,1.0,NaN
1,122299,44,2017-02-01 13:03:56,SCREEN,ON_UNLOCKED,1.0,NaN
2,122299,45,2017-02-01 13:03:59,APPS,Messaging,1.0,Messaging_1
3,122299,46,2017-02-01 13:04:01,APPS,Launcher,1.0,Launcher_1
4,122299,47,2017-02-01 13:04:03,APPS,Messaging,1.0,Messaging_1
...,...,...,...,...,...,...,...
186174,299627,732,2016-11-04 22:55:32,SCREEN,ON_UNLOCKED,168.0,NaN
186175,299627,733,2016-11-04 22:55:40,APPS,Launcher,168.0,Launcher_1
186176,299627,734,2016-11-04 22:55:41,SCREEN,OFF_UNLOCKED,168.0,NaN
186177,299627,735,2016-11-04 22:56:01,SCREEN,ON_UNLOCKED,169.0,NaN
186178,299627,736,2016-11-04 22:56:03,SCREEN,OFF_UNLOCKED,169.0,NaN

In [18]:
data_raw_2.shape[0]/136/5

106.13676470588234

In [15]:
data_raw_3.shape[0]/255/5

146.02274509803922