In [1]:
import datetime
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pyreadr

import os

In [5]:
data_sa = pd.read_csv('../../data/app-level/data_app_nodrop.csv')

In [6]:
min_item_support = 5
min_session_length = 2
min_user_sessions = 3
drop_first = True

In [7]:
USER_KEY = 'userID'
ITEM_KEY = 'appID'
TIME_KEY = 'timestamp'
SESSION_KEY = 'sessionID'

In [22]:
# def preprocess(df, min_item_support=5, min_session_length=2, min_user_sessions=3, drop_first = False):
#     '''
#     Preprocesses the dataframe by filtering out infrequent items, short sessions, and users with few sessions
#     -----
#         df: Pandas dataframe
#             Must contain the following columns: USER_KEY; ITEM_KEY; TIME_KEY; SESSION_KEY
#         drop_first: boolean
#             whether the first item of each session should be dropped
#         min_item_support: integer
#             minimum number of occurrences of an item (app) across all users and sessions for an item to be included
#         min_session_length: integer
#             minimum length (number of items) of a session for a session to be included
#         min_user_sessions: integer
#             minimum number of sessions per user for a user to be included
#     '''
#     if drop_first:
#         mask = df['appID'].shift(-1).isin([1389, 1390]) # 1389="OFF_LOCKED", 1390="OFF_UNLOCKED"
#         df = df[~mask] # filter out the first item of each session, i.e., items PRECEDED by 1389 or 1390
#     df = df.groupby(ITEM_KEY).filter(lambda x: len(x) >= min_item_support)
#     if df.groupby(USER_KEY)[SESSION_KEY].size().min() < min_session_length:
#         df = df.groupby([USER_KEY, SESSION_KEY]).filter(lambda x: len(x) >= min_session_length)
#     if df.groupby(USER_KEY)[SESSION_KEY].max().min() < min_user_sessions:
#         df = df.groupby(USER_KEY).filter(lambda x: x[SESSION_KEY].max() >= min_user_sessions)
#     return df

# data_sa = preprocess(data_sa, min_item_support=5, min_session_length=2, min_user_sessions=3, drop_first=False)

In [8]:
# statistics about time
beginning_first_session = datetime.datetime.fromtimestamp(data_sa.timestamp.min()).isoformat()
end_last_session = datetime.datetime.fromtimestamp(data_sa.timestamp.max()).isoformat()
# print(beginning_first_session)
# print(end_last_session)

In [9]:
data_sa.sessionID.nunique()

844296

In [10]:
num_users = data_sa.userID.nunique()
num_events = len(data_sa.appID)
num_sessions = data_sa.sessionID.nunique()
num_apps = data_sa.appID.nunique()
sessions_per_user = num_sessions/num_users
session_lengths = data_sa.groupby('sessionID').sessionID.count()
mean_eps = num_events/num_sessions
q1_eps = np.quantile(session_lengths.values, 0.25)
median_eps = np.quantile(session_lengths.values, 0.50)
q3_eps = np.quantile(session_lengths.values, 0.75)
# unique apps per session: TBD

In [11]:
print('number of events: ' + str(num_events))
print('number of sessions: ' + str(num_sessions))
print('sessions per user: ' + str(sessions_per_user))
print('mean number of events per session: ' + str(round(mean_eps, 2)))
print('1st quartile of events per session: ' + str(round(q1_eps, 2)))
print('median number of events per session: ' + str(round(median_eps, 2)))
print('3rd quartile of events per session: ' + str(round(q3_eps, 2)))

number of events: 4314830
number of sessions: 844296
sessions per user: 2723.5354838709677
mean number of events per session: 5.11
1st quartile of events per session: 2.0
median number of events per session: 4.0
3rd quartile of events per session: 6.0

In [15]:
# which percentage of sessions (RHS) contain >= than i (LHS) apps?
[(i+1, sum(session_lengths>i+1)/num_sessions) for i in range(1,20)]

[(2, 0.6108769910078929),
 (3, 0.501379847825881),
 (4, 0.39137340458796444),
 (5, 0.30104134095151464),
 (6, 0.2073028890341776),
 (7, 0.1571617063210059),
 (8, 0.1189263007286544),
 (9, 0.0950910581123208),
 (10, 0.07649449955939623),
 (11, 0.06342680765987284),
 (12, 0.05291864464595355),
 (13, 0.04517728379620418),
 (14, 0.038807479841193135),
 (15, 0.03369315974492358),
 (16, 0.029499133005486226),
 (17, 0.02611643309929219),
 (18, 0.023206316268228205),
 (19, 0.020842216473843298),
 (20, 0.018761192757042553)]

In [16]:
328554/844296

0.3891455129480656

In [60]:
# session length (LHS) with corresponding absolute frequency (RHS)
from collections import Counter
Counter(session_lengths).most_common()

[(2, 328554),
 (4, 92904),
 (3, 92484),
 (6, 79153),
 (5, 76279),
 (7, 42322),
 (8, 32286),
 (9, 20098),
 (10, 15701),
 (11, 11037),
 (12, 8858),
 (13, 6538),
 (14, 5362),
 (15, 4321),
 (16, 3526),
 (17, 2862),
 (18, 2448),
 (19, 2000),
 (20, 1757),
 (21, 1574),
 (22, 1328),
 (23, 1127),
 (24, 972),
 (25, 920),
 (26, 804),
 (27, 640),
 (28, 625),
 (29, 552),
 (30, 475),
 (31, 450),
 (32, 415),
 (33, 370),
 (34, 349),
 (35, 327),
 (36, 305),
 (38, 271),
 (37, 265),
 (39, 225),
 (40, 221),
 (42, 182),
 (41, 173),
 (43, 169),
 (44, 169),
 (46, 151),
 (45, 130),
 (48, 125),
 (50, 118),
 (52, 111),
 (47, 102),
 (49, 101),
 (56, 89),
 (51, 86),
 (55, 77),
 (53, 75),
 (54, 72),
 (57, 71),
 (59, 63),
 (58, 61),
 (61, 60),
 (62, 59),
 (63, 52),
 (60, 51),
 (65, 46),
 (68, 46),
 (64, 46),
 (66, 44),
 (71, 36),
 (75, 35),
 (77, 34),
 (67, 31),
 (69, 30),
 (73, 27),
 (78, 25),
 (81, 25),
 (74, 25),
 (79, 24),
 (70, 24),
 (83, 22),
 (76, 21),
 (72, 21),
 (86, 20),
 (89, 20),
 (82, 20),
 (80, 19),
 (88, 19),
 (93, 18),
 (98, 17),
 (94, 15),
 (90, 15),
 (84, 15),
 (104, 14),
 (85, 14),
 (87, 14),
 (110, 13),
 (95, 13),
 (106, 12),
 (109, 12),
 (91, 12),
 (97, 11),
 (108, 10),
 (99, 10),
 (101, 9),
 (114, 9),
 (102, 9),
 (147, 9),
 (92, 8),
 (118, 8),
 (105, 8),
 (107, 8),
 (96, 8),
 (125, 7),
 (124, 7),
 (119, 7),
 (126, 7),
 (132, 6),
 (111, 6),
 (113, 6),
 (137, 6),
 (127, 5),
 (139, 5),
 (131, 5),
 (121, 5),
 (112, 5),
 (103, 5),
 (135, 5),
 (116, 5),
 (138, 5),
 (120, 4),
 (117, 4),
 (130, 4),
 (100, 4),
 (149, 4),
 (168, 4),
 (192, 4),
 (151, 4),
 (128, 4),
 (169, 4),
 (166, 3),
 (133, 3),
 (182, 3),
 (148, 3),
 (144, 3),
 (309, 3),
 (252, 3),
 (180, 3),
 (123, 3),
 (191, 3),
 (122, 3),
 (165, 3),
 (115, 3),
 (214, 3),
 (164, 2),
 (203, 2),
 (238, 2),
 (143, 2),
 (183, 2),
 (202, 2),
 (273, 2),
 (134, 2),
 (222, 2),
 (375, 2),
 (150, 2),
 (170, 2),
 (212, 2),
 (156, 2),
 (184, 2),
 (218, 2),
 (154, 2),
 (142, 2),
 (295, 1),
 (377, 1),
 (402, 1),
 (247, 1),
 (257, 1),
 (160, 1),
 (185, 1),
 (178, 1),
 (146, 1),
 (221, 1),
 (181, 1),
 (188, 1),
 (215, 1),
 (270, 1),
 (588, 1),
 (283, 1),
 (236, 1),
 (322, 1),
 (245, 1),
 (264, 1),
 (171, 1),
 (494, 1),
 (258, 1),
 (198, 1),
 (227, 1),
 (347, 1),
 (265, 1),
 (479, 1),
 (241, 1),
 (759, 1),
 (275, 1),
 (235, 1),
 (129, 1),
 (487, 1),
 (622, 1),
 (187, 1),
 (279, 1),
 (153, 1),
 (269, 1),
 (511, 1),
 (581, 1),
 (175, 1),
 (140, 1),
 (253, 1),
 (145, 1),
 (173, 1),
 (237, 1),
 (186, 1),
 (223, 1),
 (294, 1),
 (201, 1),
 (361, 1),
 (234, 1),
 (177, 1),
 (411, 1),
 (4160, 1),
 (1001, 1),
 (463, 1),
 (213, 1),
 (176, 1),
 (159, 1),
 (274, 1),
 (162, 1),
 (225, 1),
 (136, 1),
 (242, 1),
 (199, 1),
 (163, 1),
 (313, 1),
 (383, 1),
 (229, 1),
 (200, 1),
 (157, 1),
 (161, 1),
 (357, 1),
 (216, 1),
 (420, 1),
 (197, 1)]

In [38]:
# data_sa = preprocess(data_sa, min_item_support=5, min_session_length=2, min_user_sessions=3, drop_first=True)

In [62]:
num_users = data_sa.userID.nunique()
num_events = len(data_sa.appID)
num_sessions = data_sa.sessionID.nunique()
num_apps = data_sa.appID.nunique()
sessions_per_user = num_sessions/num_users
session_lengths = data_sa.groupby('sessionID').sessionID.count()
mean_eps = num_events/num_sessions
q1_eps = np.quantile(session_lengths.values, 0.25)
median_eps = np.quantile(session_lengths.values, 0.50)
q3_eps = np.quantile(session_lengths.values, 0.75)
# unique apps per session: TBD

In [63]:
print('number of events: ' + str(num_events))
print('number of sessions: ' + str(num_sessions))
print('sessions per user: ' + str(sessions_per_user))
print('mean number of events per session: ' + str(round(mean_eps, 2)))
print('1st quartile of events per session: ' + str(round(q1_eps, 2)))
print('median number of events per session: ' + str(round(median_eps, 2)))
print('3rd quartile of events per session: ' + str(round(q3_eps, 2)))

number of events: 3140204
number of sessions: 515742
sessions per user: 1690.9573770491804
mean number of events per session: 6.09
1st quartile of events per session: 3.0
median number of events per session: 4.0
3rd quartile of events per session: 7.0

### Issues

##### single window versus multiple windows

* we have few users (310) but many sessions per user (~2724)
* only 310 test sessions in total, all of them at the end of January 2018
* if splitting the observation time span in, say, 5 equally long parts:
    * 5 train sets per user
    * 5 test sets per user (we can average performance across the 5 sets)

##### very short sessions on average

* our data: average sequence length: 5.11
* BERT4Rec: dataset with shortest average sequence length: 8.8 (Amazon Beauty)
* HGRU4Rec: dataset with shortest average sequence length: 6.1 (Xing)
* comparison paper: dataset with shortest average sequence length: 5.62 (Xing)
* only 8% of all sessions contain at least 10 apps
* this gives rise to the so-called cold start problem for sequential prediction
* very questionable whether BERT4Rec will perform well because of the above (and the below)

##### first and last app in each session are not really informative

* each session has a single OFF_ event at the end (either OFF_LOCKED or OFF_UNLOCKED) and no OFF_ event prior to that
* each session has an ON_ event at the beginning (either ON_LOCKED or ON_UNLOCKED)

* there are 162805 sessions starting with 2 (or more) consecutive ON_ events
    * most of them starting with ON_LOCKED followed by ON_UNLOCKED
    * 25 sessions starting with ON_UNLOCKED followed by ON_LOCKED (how does that make sense?)

In [ ]:
on_2 = []
for i in range(1, len(data_sa)):
    if (data_sa.appID[i-1] in [1389, 1390]) and (data_sa.appID[i] in [1392, 1393]):
        if data_sa.appID[i+1] in [1392, 1393]:
            on_2.append(i)

In [40]:
# example of a session which starts with ON_LOCKED followed by ON_UNLOCKED
i = on_2[0]
data_sa[i-1:i+5]

    userID     timestamp  sessionID  appID
22       1  1.511427e+09          6   1389
23       1  1.511428e+09          7   1392
24       1  1.511428e+09          7   1393
25       1  1.511428e+09          7   1194
26       1  1.511428e+09          7   1194
27       1  1.511428e+09          7   1169

In [37]:
on_unlocked_locked = []
for i in range(1, len(data_sa)):
    if (data_sa.appID[i-1] in [1389, 1390]) and (data_sa.appID[i]==1393):
        if data_sa.appID[i+1]==1392:
            on_unlocked_locked.append(i)

In [41]:
# example of a session which starts with ON_UNLOCKED followed by ON_LOCKED
i = on_unlocked_locked[0]
data_sa[i-1:i+5]

      userID     timestamp  sessionID  appID
9527       1  1.514115e+09       1549   1389
9528       1  1.514116e+09       1550   1393
9529       1  1.514116e+09       1550   1392
9530       1  1.514116e+09       1550   1389
9531       1  1.514116e+09       1551   1392
9532       1  1.514116e+09       1551   1393

* there are sessions starting with ON_LOCKED, followed by some other apps, followed by ON_UNLOCKED

In [31]:
on_other_on = []
for i in range(1, len(data_sa)):
    if (data_sa.appID[i-1] in [1389, 1390]) and (data_sa.appID[i] in [1392, 1393]):
        if (data_sa.appID[i+1] not in [1389, 1390, 1392, 1393]) and (data_sa.appID[i+2] in [1392, 1393]):
            on_other_on.append(i)

In [42]:
# example of a session which starts with ON_LOCKED followed by some other app followed by ON_UNLOCKED
i = on_other_on[0]
data_sa[i-1:i+5]

   userID     timestamp  sessionID  appID
3       1  1.511424e+09          2   1389
4       1  1.511424e+09          3   1392
5       1  1.511424e+09          3   1016
6       1  1.511424e+09          3   1393
7       1  1.511424e+09          3   1389
8       1  1.511426e+09          4   1392

* if we decide to drop the first event of each session (ON_):
    * not really consistent content-wise (b/c of the multiple ON_ events)
    * we lose all sessions of length 2, i.e., 39% (328535/844296) of all sessions
    * average sequence length increases to 6.09
    * no major performance changes at first sight
* if we decide to drop the last event of each session (OFF_):
    * we lose all sessions of length 2 (as above)
    * no longer able to predict the length of each session (yet this would be an entirely different task anyway)
    * recall: we iteratively predict apps for the next spot in a session, yet we never actively predict whether there will be a next spot
    * on the other hand, we would not learn how to predict an OFF_ event
    * i.e., we would not learn which sequence is likely to indicate that a session has come to its end

### To do

* Tuning:
    * all data or only a single window (i.e., a subset)?
    * 50 or 100 optimization iterations?
* BERT4Rec: how much time to invest into it?
    * run with our data
    * no ad hoc performance comparison possible (only last item evaluated)
    * extract "predictions"
    * evaluate predictions using the comparison framework

Alternative approaches to encode app sequences:
* word2vec
* glove

But these models only generate app embeddings and do not perform prediction.

### unique sessions

##### using non-categorized appID

In [39]:
data_sa['app_string'] = data_sa.appID.astype(str)
a = data_sa.groupby(['userID', 'sessionID'])['app_string'].apply(','.join).reset_index()

In [40]:
a

        userID  sessionID                                         app_string
0            1          1                                          1392,1389
1            1          2                                          1392,1389
2            1          3                                1392,1016,1393,1389
3            1          4  1392,1720,1393,1393,1169,1075,1194,1194,1194,1...
4            1          5                                          1392,1389
...        ...        ...                                                ...
844291     310     844292   1392,1393,1162,1194,1162,267,1162,1194,1162,1389
844292     310     844293                                     1392,1393,1390
844293     310     844294                                          1392,1389
844294     310     844295                                          1392,1389
844295     310     844296                                          1392,1389

[844296 rows x 3 columns]

In [41]:
a.app_string.nunique()

173808

##### using categorized appID

In [42]:
data_raw = pyreadr.read_r('../../data/sequences_all_anon.Rds')[None]
data_raw = data_raw.rename(columns={'datum':'date', 'value':'category', 'anon_apps.name':'app_name'})
data_raw['timestamp'] = data_raw['date'].apply(lambda x: x.timestamp())
data_raw.loc[data_raw['app_name'].isnull(),'app_name'] = data_raw['category'] # replace NaNs in app_name by corresponding category value
data_raw['sessionID'] = data_raw['app_name'].shift(1).isin(['OFF_LOCKED','OFF_UNLOCKED']).cumsum() + 1 # sessionID is like sequence_number but does NOT start anew for each

In [43]:
data_sa = data_raw
app_mapping = dict([(y,x+1) for x,y in enumerate(sorted(set(data_sa['app_name'])))])
app_indexes = [app_mapping[x] for x in data_sa['app_name']]
# print(len(set(app_indexes)) == data_sa['app_name'].nunique()) # check

user_mapping = dict([(y,x+1) for x,y in enumerate(sorted(set(data_sa['userId'])))])
user_indexes = [user_mapping[x] for x in data_sa['userId']]
# print(len(set(user_indexes)) == data_sa['userId'].nunique()) # check

data_sa['appID'] = app_indexes
data_sa.insert(0, 'userID', user_indexes)

data_sa = data_sa.drop(['userId', 'date', 'activity', 'sequence_number', 'app_name'], axis=1)

In [44]:
data_sa['category'].loc[data_sa['category'] == 'OFF_LOCKED'] = 'OFF'
data_sa['category'].loc[data_sa['category'] == 'OFF_UNLOCKED'] = 'OFF'
data_sa['category'].loc[data_sa['category'] == 'ON_LOCKED'] = 'ON'
data_sa['category'].loc[data_sa['category'] == 'ON_UNLOCKED'] = 'ON'

c:\users\simon\desktop\ma\env_3.6\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [45]:
b = data_sa.groupby(['userID', 'sessionID'])['category'].apply(','.join).reset_index()

In [47]:
b

        userID  sessionID                                           category
0            1          1                                             ON,OFF
1            1          2                                             ON,OFF
2            1          3                                    ON,INBOX,ON,OFF
3            1          4  ON,Settings,ON,ON,Launcher,Internet_Browser,Me...
4            1          5                                             ON,OFF
...        ...        ...                                                ...
844291     310     844292  ON,ON,Launcher,Messaging,Launcher,E_Mail,Launc...
844292     310     844293                                          ON,ON,OFF
844293     310     844294                                             ON,OFF
844294     310     844295                                             ON,OFF
844295     310     844296                                             ON,OFF

[844296 rows x 3 columns]

In [46]:
b.category.nunique()

124624

### most popular app

In [ ]:
###### overall


###### excluding ON_ and OFF_